@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)) */

*{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

/* stylelint-disable-next-line at-rule-no-unknown */
@theme {
  --color-primary: #5044E5;
}

.dome-wrapper {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@media (max-width: 767px) {
  .md\:hover\:pause:hover {
    /* Disable hover effects on mobile */
  }
}

html {
  scroll-behavior: smooth;
}

/* .navBar{
  font-size: 15rem;
} */
